<div class="container-edit">
    <form [formGroup]="customerForm">
        <mat-grid-list cols="2" rowHeight="30px">
            <mat-grid-tile >
                <h1>Editar cliente</h1>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="75px">
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <mat-label>Ano</mat-label>
                    <input matInput formControlName="age" (ngModelChange)="validator($event)">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="city">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="3" rowHeight="40px">
            <mat-grid-tile>

            </mat-grid-tile>
            <mat-grid-tile>
                <button *ngIf="validatorAge === true" (click)="save()" class="button-save" mat-raised-button color="primary">Salvar</button>
                <button *ngIf="validatorAge === false" mat-raised-button disabled>Salvar</button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button (click)="cancelar()" class="button-cancel" mat-raised-button color="primary">Cancelar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>